/Quanlyvattu/dist/
/nhap/nbproject/private/
Quanlyvattu/build/web/WEB-INF/classes/dal/DBContext.class
Quanlyvattu/build/web/WEB-INF/lib/jakarta.activation-2.0.1.jar
Quanlyvattu/build/web/WEB-INF/lib/jakarta.mail-api-2.1.2.jar
Quanlyvattu/build/web/WEB-INF/lib/jakarta.activation-2.0.1.jar
Quanlyvattu/nbproject/private/private.xml
Quanlyvattu/nbproject/private/private.xml
Quanlyvattu/nbproject/private/private.properties
Quanlyvattu/nbproject/private/private.xml
Quanlyvattu/nbproject/private/private.xml
Quanlyvattu/nbproject/private/private.xml
Quanlyvattu/nbproject/private/private.xml
Quanlyvattu/src/java/dal/DBContext.java
*.class
*.class
Quanlyvattu/nbproject/private/private.xml
Quanlyvattu/src/java/dal/DBContext.java
